<h1>Suma salarios Session</h1>

<a asp-controller="Empleados"
    asp-action="SessionSalarios">
    Volver a Empleados Salarios
</a>

@if (Context.Session.GetString("SUMASALARIAL") == null){
    <h1 style="color:red">
        No hay datos salariales todavía
    </h1>
}else{
    <h1 style="color:fuchsia">
        Suma salarial actual: @Context.Session.GetString("SUMASALARIAL")
    </h1>
}